* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.marg {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.main_content {
    padding-top: 20px;
    padding-bottom: 30px;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 0;
}

header {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.75) 100%), url("../assets/images/infirmerie.jpg") fixed center no-repeat;
    width: 100%;
    margin: 0;
    height: 600px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#presentation {
    font-size: 27px;
}

/*Techno Utilisées*/
.techno {
    width: 100px;
}

#techno {
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: white;
    color: black;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.tech {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
}

/*Histoire*/

#histoire {
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-indent: 50px;
    /*background: linear-gradient(90deg, #78000030 0%, #bb000030 50%, #78000030), url("../assets/images/Render_0-00-06-22.png") fixed center no-repeat;*/
    background-color: rgb(223, 223, 223);
    width: 100%;
}

#histo {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*Support*/

#trailer {
    padding-top: 20px;
    padding-bottom: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    gap: 40px;

    background-color: #212121;
    background: linear-gradient(90deg, #212121a0 0%, #212121a0), url("../assets/images/Render_0-00-06-22.png") fixed center no-repeat;
    color: white;
}

#trailer button {
    border-radius: 30px;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: none;
    background-color: #BB0000;
    color: white;
    transition: all 200ms ease-in-out;

}

#trailer p {
    font-size: 18px;
}

#trailer button:hover{
    scale:1.1;
    color:#000000;
    cursor: pointer;
}

/*------------------------------------Contact---------------------------------*/
#contact {
    padding-top: 40px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: goldenrod;
}

#contact_marg {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 0;
    font-size: 18px;
}

.pres {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.pres li {
    color: black;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    border-radius: 25px;

    height: 325px;
    width: 300px;

    transition: all 200ms ease-in-out;
}

.pres img {
    width: 250px;
    height: 250px;
}

.pres li p {
    font-weight: 600;
}

.pres li a {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: black;
}

.pres li:hover {
    scale: 0.98;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.219);

}

#logo{
    display: flex;
    justify-content: center;
    transition: all 200ms ease-in-out;
    width: 300px;
}

#logo:hover{
    scale: 1.1;
}

/* Footer */
footer {
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: rgb(55, 71, 79);
    color: white;
}

#foot_marg {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#foot_img {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 70%;
    font-size: 15px;
}

footer img {
    width: 125px;
}

footer a {
    color: rgb(255, 165, 0);
}

footer a:hover {
    text-decoration: underline;
}